.logo{
    float: center;
    padding: 14px 16px;
    border-radius: 50px;

}

body{
    background: #290a0a;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    /* background-image:  url("../images/newbgcolor.PNG");
    background-size: cover; */
  }
.login-page{
  background-color:#290a0a;
  overflow: hidden;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.login-page .logo{
  margin-bottom: -200px;
}
.login-page .lite{
  float: left;
  margin-left: 8%;
  color: #fff;
  margin-top: 3%;
}
/* .search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #290a0a;
  padding: 5px;
  height: 33px;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.searchTerm:focus{
  color: #fff;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 40px;
  border: 1px solid #290a0a;
  background: #290a0a;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
} */

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav {
    background-color:#290a0a;
    overflow: hidden;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.lite{
    float: left;
    margin-left: 0%;
    color: #fff;
    margin-top: 3%;
}

.home{
    color: #290a0a;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
.posti{
  margin-left: 30%;
}

.logo{
    float: left;
    padding: 14px 16px;
    border-radius: 25px;

}

.login-container {
    float: right;
  }

.login-container button {
    background-color: whitesmoke;
    float: right;
    padding: 6px;
    margin-top: 30px;
    margin-right: 25px;
    font-size: 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
  }

.houses{
  display: flex;
  flex-direction: inherit;
}
  
.login-container button:hover {
    background: #000000;
    color: #fff;
  }

.style-button{
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8%;
  background-color: #290a0a;
  padding: 8px;
}

.new-style{
  overflow: auto; 
}

.new-style a {
  float: right;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* bar links on mouse-over */
.new-style a:hover {
  background-color: #290a0a;
}
.active {
  background-color: #290a0a;
}


.push {
	display: inline-block;
  float: right;
  margin-right: -42%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background-color: #290a0a;
	padding: 14px 18px;
	width: 123px;;
	text-align: center;
	border-radius: 5px;
}
.push:active {
	top: 2px;
}

  @media (min-width: 600px)  and (max-width:850px){
    .topnav #myTopnav{
      display: block;
      position: inherit;
    }
    .login-page .lite{
      float: left;
      margin-left: 13%;
      color: #fff;
      margin-top: 3%;
    }
    
    .topnav{
      display: inline-block;
      height: 250px;
      align-self: left;
    }
    .hide_icon{
      float: right;
    }
    .login-container .new-style 
    .logo{
      float: right;
      /* margin-top: 15px;
      margin-bottom: 15px;
      width: 15%; */
    }
    .new-style .nav-item{
      float: none;
      
    }
    .login-page {
      margin-top: none;
      height:100px;
      width: 100vw;
    }
    .login-page .logo{
      width: 15%;
    }

    .lite{
      display: none;
      /* width: 100%;
      font-size: 50rem; */
    }
    .feautured {
      width: 100px;
      position: absolute;
    }
    .houses .house1 .button2{
      position: inherit;
      margin-left: auto;
      margin-right: auto;
    }
   .houses{
    display: inline-block;

   }
   .houses .house1 .logo{
     width:100%;
   }
   .houses .house2 .logo{
     width:100%;
   }
   .houses .house3 .logo{
    width:100%;
  }
  .houses .houses1 .navbar .button2 button{
    background-color: purple;
    color:white !important;

  }
    .search{
      float:absolute;
      display: block;
      /* width: 200px; */
    }
    .home{
      margin-top: 50px;
      font-size: 150%;
    }
    .login-container button{
      padding: 14px 18px;
      width: 20px;
      margin-right: 25px;
      font-size: 18px;
      border: none;
      border-radius: 6%;
      text-align: right;
      /* margin-top: 10px; */
    }
    
    .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 50%;
      margin: 0;
      padding: 14px;
    }
    .push{
      float:absolute;
      display: block;
      width: 150px;
      margin-left: -2%;
      
      

    }
    .icon{
      display: none;
    }
     
  }

  @media (min-width: 400px)  and (max-width:600px){
    
    .topnav #myTopnav{
      display: block;
      position: inherit;
    }

    .topnav{
      display: inline-block;
      height: 400px;
      align-self: left;
    }

    .login-page .lite{
      display: none;
      /* float: left;
      margin-left: 18%;
      color: #fff;
      margin-top: 3%; */
    }
    .login-page {
      display: inline-block;
      margin-top: none;
      height: 100px;
    }
    .login-container .new-style 
    .logo{
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 15%;
    }
    .login-container.new-style.icon{
      display: none;
    }
    .new-style .nav-item{
      float: left;

    }
    .lite{
      width: 100%;
    }
    .feautured {
      width: 100px;
      position: absolute;
    }
    .houses .house1 .button2{
      position: inherit;
      margin-left: auto;
      margin-right: auto;
    }
   .houses{
    display: inline-block;

   }
   .houses .house1 .logo{
     width:100%;
   }
   .houses .house2 .logo{
     width:100%;
   }
   .houses .house3 .logo{
    width:100%;
  }
  .houses .houses1 .navbar .button2 button{
    background-color: purple;
    color:white !important;

  }
    .search{
      float:absolute;
      display: block;
      /* width: 200px; */
    }
    .home{
      margin-top: 50px;
      font-size: 150%;
    }
    .login-container button{
      padding: 14px 18px;
      width: 20px;
      margin-right: 25px;
      font-size: 18px;
      border: none;
      border-radius: 6%;
      text-align: right;
      /* margin-top: 10px; */
    }
    
    .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 50%;
      margin: 0;
      padding: 14px;
    }
    .push{
      float:absolute;
      display: block;
      width: 150px;
      margin-left: -2%;
      
      

    }
     
  }
  
