<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <div class="login-page" id="myTopnav">
      <img class="logo" src="../images/newlog.PNG" width="130px" height="95px">
      <h1 class="lite">PropertyPro lite</h1>
      <div class="search-btn">
        <input type="text" placeholder="Search.." class="nav-item">
      </div>
      <div class="login-container">
          <div class="new-style" id="myLinks">
            <a class="nav-item" href="../index.html" target="_blank">logout</a>
            <a class="nav-item" href="../Templates/property.html" target="_blank">view all</a>
          </div>
       
              
      </div>
  
    </div>
      <div class="featured">
        <div class="bar">
            <a class="active" href="#"> featured properties</a> 
            </div>
    </div>

    <div class= "houses">
          <div class="describe-houses">
            <img class="logo" src="../images/photo-11.jpg" width="425px" height="300px">
            <h1>Description</h1>
                    <p>Two-storey structure is characterized by five self-contained bedrooms.<br>
                             The creative use of space makes every functional area combined naturally.<br> 
                             With people-oriented design,<br>
                             you can enjoy a peaceful life and forget the madding crowed. </p>
            <div class="button2">
              <h1>Specification</h1>
              <P>Built Up Area: 244 ㎡<br>
                  Plot Size: 17 Decimal<br>
                  4 Self Contained Bedrooms<br>
                  Kitchen<br>
                  Living Room<br>
                  Dining Room<br>
                  2 Large Balconies<br>
                  8 Parking Slots<br></P>
              <h4>price = $100</h4>
              </div>
              </div>
              </div>
              
         
              <div class="foote">
                  <p>@PropertyPro Lite 2019</p>
                </div> 
        
      </body>
      
  </html>

  