<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/register.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    
</head>
</header>

<div class="login-page" id="myTopnav">
    <img class="logo" src="../images/newlog.PNG" width="130px" height="95px">
    <h1 class="lite">PropertyPro lite</h1>
</div>   
<div class="login-wrap">
        <h2>Login</h2>
        
        <form name="login"  class="form">

          <input type="text" id="email" placeholder="Email" name="un" required />
          <input type="password" id="password" placeholder="Password" name="pw" required />
          <button  type="button" onclick="check(this.form)" value="Login" >Login</button>
          
          <a href="../Templates/register.html"> <p> Don't have an account? Register </p></a>
          <a href="../Templates/reset-password.html"> <p> Forgot Password? Reset Password </p></a>
        </div>
      </div>
      <script src="../Javascript/login.js"></script>
  </body>
    </html>