<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
</head>
</header>
<div class="login-page" id="myTopnav">
    <img class="logo" src="../images/newlog.PNG" width="100px" height="80px">
    <h1 class="lite">PropertyPro lite</h1>
    <div class="search-btn">
      <input type="text" placeholder="Search.." class="nav-item">
    </div>
    <div class="login-container">
        <div class="new-style">
            <a href="../index.html" target="_blank">logout</a>
            <a href="../Templates/property.html" target="_blank">view all </a>
          </div>
           
            
          </div>
</div>
<body>

    <iframe class="frame" src="http://maps.google.com/maps?q=0.2811685,32.58318449&z=15&output=embed"></iframe>
    <div class="featured">
        <div class="bar">
            <a class="active" href="#"> Post property AD(free)</a> 
            </div>
    </div>

            <div class="container">
                      <div class="row">
                        <div class="columnn">
                          <label for="fname">Your Name(user/agent)</label>
                        </div>
                        <div class="colummn">
                          <input type="text" id="fname" name="firstname" placeholder="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="fname">Name of your property(land/house)</label>
                        </div>
                        <div class="colummn">
                          <input type="text" id="fname" name="firstname" placeholder="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="fname">Add location of the property</label>
                        </div>
                        <div class="colummn">
                          <textarea id="subject" name="subject" placeholder="location" style="height:50px"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                        <label for="fname">Add property specifications</label>
                        </div>
                        <div class="colummn">
                          <textarea id="subject" name="subject" placeholder="specifications" style="height:50px"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="location">select prices for property</label>
                        </div>
                        <div class="colummn">
                          <select id="type" name="type">
                            <option value="Entebbe">3bedroom</option>
                            <option value="Kampala">2bedroom</option>
                            <option value="Entebbe">miniflat</option>
                            <option value="Kampala">5bedrom</option>
                            <option value="Entebbe">4bedroom</option>
                            <option value="Kampala">6bedroom</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="subject">Add description of the property</label>
                        </div>
                        <div class="colummn">
                          <textarea id="subject" name="subject" placeholder="add description.." style="height:100px"></textarea>
                        </div>
                      </div>
                </div> 
           
                      <div class="custom-button">  
                            <input type="file" id="real-file" hidden="hidden"/>
                            <button  type="button" id="custom-button"  >Choose File</button>
                            <span id="custom-text"> No file chosen, yet.</span>
                        <button type="submit" class="button"><a href="#">Post </a></button>
                        
                        
                         
                       
                      </div> 
                    </form>
                  </div>

                
              <tr>
                  <td>
                    </td>
                  </div>
                  <td>
                    <div class="footer">
                      <p>@PropertyPro Lite 2019</p>

                    </div>
                  <td>
                </tr>
                
    
                  <script src="../Javascript/property.js"></script>   
</body>
</html>

      
