<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />
     <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />

    
    </head>
    <div class="login-page" id="myTopnav">
      <img class="logo" src="../images/newlog.PNG" width="130px" height="95px">
      <h1 class="lite">PropertyPro lite</h1>
      <div class="search-btn">
        <input type="text" placeholder="Search.." class="nav-item">
      </div>
      <div class="login-container">
          <div class="new-style" id="myLinks">
            <a class="nav-item" href="../index.html" target="_blank">logout</a>
            <a class="nav-item" href="../Templates/login.html" target="_blank">Post AD</a>
          </div>
         
              
      </div>
  
    </div>
    
    <div class="featured">
        <div class="bar">
            <a class="active" href="#"> featured Property</a> 
        </div>
    </div> 
       <div class= "houses">
            
          <div class="house1">
                <img class="logo" src="../images/photo-20.jpg" width="425px" height="300px">
              <div class="button2">
                <!-- <button class="style-button" id="view" onclick="openNew(event, 'view')">view Property</button> -->
                <button class="style-button" onclick="view()"> View Property </button>
                <button class="style-button"  onclick="report()"> Report fraud </button>
              </div>          
              </div>
              
              <div class="house2">
                <img class="logo" src="../images/photo-21.jpg" width="425px" height="300px">
                <div class="button2">
                <button class="style-button" onclick="view()"> View Property </button>
                <button class="style-button"  onclick="report()"> Report fraud </button>
              </div>         
              </div>



              <div class="house3">
                <img class="logo" src="../images/photo-19.jpg" width="425px" height="300px">
                <div class="button2">
                <button class="style-button" onclick="view()"> View Property </button>
                <button class="style-button"  onclick="report()"> Report fraud </button>
                </div>
            </div>
             
         
                  
          </div>

          <div class= "houses">
            
            <div class="house1">
                  <img class="logo" src="../images/photo-22.jpg" width="425px" height="300px">
                <div class="button2">
                  <button class="style-button" onclick="view()"> View Property </button>
                  <button class="style-button"  onclick="report()"> Report fraud </button>
                </div>          
                </div>
           
                <div class="house2">
                  <img class="logo" src="../images/photo-18.jpg" width="425px" height="300px">
                  <div class="button2">
                  <button class="style-button" onclick="view()"> View Property </button>
                  <button class="style-button"  onclick="report()"> Report fraud </button>
                </div>         
                </div>
  
  
  
                <div class="house3">
                  <img class="logo" src="../images/photo-1.jpg" width="425px" height="300px">
                  <div class="button2">
                  <button class="style-button" onclick="view()"> View Property </button>
                  <button class="style-button"  onclick="report()"> Report fraud </button>
                  </div>
                  <br><br><br>
               <div class="foot">
                 PropertyPro lite @ 2019
               </div>
              </div>
        <script src="../Javascript/property.js"></script> 
        <script src="../Javascript/navigation.js"></script>    
    </body>
        
</html>


        
        
     
  
     