<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />

    
    </head>


<div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
        <img class="logo" src="../images/newlog.PNG" width="100px" height="80px">
          <div class="nav-title">
            PropertyPro lite
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
          </label>
        </div>
        
        <div class="nav-links">
          <a href="../Templates/post.html" target="_blank">Post property(free)</a>
          <a href="../Templates/view-all-property.html" target="_blank">view all properties</a>
          <a href="../index.html" target="_blank">logout</a>
          <div class="topnav">
            <input type="text" placeholder="Search..">
        </div>
        </div>
      </div>
      <iframe class="frame" src="http://maps.google.com/maps?q=0.2811685,32.58318449&z=15&output=embed">
        <div class="featured">
            <div class="bar">
                <a class="active" href="#"> featured properties</a> 
                </div>
        </div>
      </iframe>   
      <!-- <div class="featured">
        <div class="bar">
            <a class="active" href="#"> featured properties</a> 
            </div>
    </div> -->
        <div style="overflow-x:auto;">
            <table>
              <tr>
                <th><img class="logo" src="../images/estate.PNG" width="425px" height="300px"></th>
                <th><img class="logo" src="../images/furnished.PNG" width="425px" height="300px"></th>
                <th><img class="logo" src="../images/jomays.PNG" width="425px" height="300px"></th>
                </tr>
                

              
              <tr>
                  <td>
                    <div class="navbar">
                        <a class="active" href="#"> 3Bedrooms</a> 
                        <a href="#"> 2Bathrooms</a> 
                        <a href="#"> 3 Parking slots</a> 
                       
                      </div>
                  </td>
                  <td>
                    <div class="navbar">
                        <a class="active" href="#"> Mini-Flat</a> 
                        <a href="#"> 1Bedrooms</a> 
                        <a href="#"> 1Bathrooms</a> 
                       
                      </div>
                  </td>
                  <td>
                    <div class="navbar">
                        <a class="active" href="#"> 2Bedrooms</a> 
                        <a href="#"> 2Bathroom</a> 
                        <a href="#"> 1Parking slots</a> 
                       
                      </div>
                  </td>
            </tr>

            <tr>
                <td><div class="navy">
                    <a href="../Templates/description.html" >View Property</a>
                    <a href="../Templates/update-property.html" >Update</a>
                    <a href="../Templates/report.html" >Report fraud</a>
                  </td>
                </div>
                <td><div class="navy">
                    <a href="../Templates/description.html" >View Property</a>
                    <a href="../Templates/update-property.html" >Update</a>
                    <a href="../Templates/report.html" >report fraud</a>
                </div>
                <td><div class="navy">
                    <a href="../Templates/description.html" >View Property</a>
                    <a href="../Templates/update-property.html" >Update</a>
                    <a href="../Templates/report.html" >report fraud</a>
                </div>
                
                
          
            <tr>
            
            <td>
                <div class="footer">
                    <h5>&copy; PropertyPro lite 2019</h5>
                </div>
            
      </tr>


          </td>
        </div>
       
    </body>
        
</html>


        
        
     
  
     