<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />

    
    </head>


    <div class="login-page" id="myTopnav">
        <img class="logo" src="../images/newlog.PNG" width="100px" height="80px">
        <h1 class="lite">PropertyPro lite</h1>
        <div class="search-btn">
            <input type="text" placeholder="Search.." class="nav-item">
          </div>
        <div class="login-container">
            <div class="new-style">
                <a href="../index.html" target="_blank">logout</a>
                <a href="../Templates/view-all-property.html" target="_blank">view all properties</a>
                <a href="../Templates/post.html" target="_blank">Post property(free)</a>
              </div>
                
                
              </div>
    </div>
          
      <div class="featured">
        <div class="bar">
            <a class="active" href="#"> featured properties</a> 
            </div>
    </div>

    <div class= "houses">
            
        <div class="house1">
              <img class="logo" src="../images/estate.PNG" width="425px" height="300px">
              <div class="navbar">
                  <h1>flag/report a posted AD as fraudulent.</h1>
                  </div>
                  <br>
                  <form action="/action_page.php">
                      <span type="text" name="report1" > Is this property a fraud??<br>
                      <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                      <input type="checkbox" name="report3" value="report" checked> No<br><br>
                      <button type="submit" class="button"><a href="#">Submit </a></button>
                    </form> 
            </div>
            

            
            
            <div class="house2">
              <img class="logo" src="../images/furnished.PNG" width="425px" height="300px">
              <div class="navbar">
                  <h1>flag/report a posted AD as fraudulent.</h1>
                  </div>
                  <br>
                  <form action="/action_page.php">
                      <span type="text" name="report1" > Is this property a fraud??<br>
                      <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                      <input type="checkbox" name="report3" value="report" checked> No<br><br>
                      <button type="submit" class="button"><a href="#">Submit </a></button>
                    </form> 
            </div>         
              


            <div class="house3">
              <img class="logo" src="../images/jomays.PNG" width="425px" height="300px">
              <div class="navbar">
                  <h1>flag/report a posted AD as fraudulent.</h1>
                  </div>
                  <br>
                  <form action="/action_page.php">
                      <span type="text" name="report1" > Is this property a fraud??<br>
                      <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                      <input type="checkbox" name="report3" value="report" checked> No<br><br>
                      <button type="submit" class="button"><a href="#">Submit </a></button>
                    </form> 
          </div>
        
      </body>
      
  </html>

  
     