<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />

    
    </head>


<div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
        <img class="logo" src="../images/newlog.PNG" width="100px" height="80px">
          <div class="nav-title">
            PropertyPro lite
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
          </label>
        </div>
        
        <div class="nav-links">
          <a href="../Templates/post.html" target="_blank">Post property(free)</a>
          <a href="../Templates/view-all.html" target="_blank">view all properties</a>
          <div class="topnav">
            <input type="text" placeholder="Search..">
        </div>
        </div>
      </div>
          
      <div class="featured">
        <div class="bar">
            <a class="active" href="#"> featured properties</a> 
            </div>
    </div>
        <div style="overflow-x:auto;">
            <table>
              <tr>
                <th><img class="logo" src="../images/estate.PNG" width="400px" height="300px"></th>
                <th><img class="logo" src="../images/newhome.PNG" width="400px" height="300px"></th>
                <th><img class="logo" src="../images/jomays.PNG" width="400px" height="300px"></th>
                </tr>

              
              <tr>
                  <td>
                        <h1>flag/report a posted AD as fraudulent.</h1>

                        <form action="/action_page.php">
                            <span type="text" name="report1" > Is this property a fraud??<br>
                            <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                            <input type="checkbox" name="report3" value="report" checked> No<br><br>
                            <input type="submit" value="Submit">
                          </form>
                  </td>
                  <td>
                        <h1>flag/report a posted AD as fraudulent.</h1>

                        <form action="/action_page.php">
                            <span type="text" name="report1" > Is this property a fraud??<br>
                            <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                            <input type="checkbox" name="report3" value="report" checked> No<br><br>
                            <input type="submit" value="Submit">
                          </form>
                  </td>
                  <td>
                        <h1>flag/report a posted AD as fraudulent.</h1>

                        <form action="/action_page.php">
                        <span type="text" name="report1" > Is this property a fraud??<br>
                          <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                          <input type="checkbox" name="report3" value="report" checked> No<br><br>
                          <input type="submit" value="Submit">
                        </form>
                       
                      </div>
                  </td>
            </tr>

            
          </td>
        </div>
        
      </body>
      
  </html>

  
     