<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />

    
    </head>
    <div class="login-page" id="myTopnav">
        <img class="logo" src="../images/newlog.PNG" width="130px" height="95px">
        <h1 class="lite">PropertyPro lite</h1>
    </div>
    </div>    
      <div class="featured">
        <div class="bar">
            <a class="active" href="#"> featured properties</a> 
            </div>
    </div>

    <div class= "houses">
            <div class= "houses">
                <div class="describe-house">
                  <img class="logo" src="../images/photo-111111.jpg" width="425px" height="300px">
                  <div class="navbar">
                    <h1>flag/report a posted AD as fraudulent.</h1>
                    </div>
                    <br>
                    <form action="/action_page.php">
                        <span type="text" name="report1" > Is this property a fraud??<br>
                        <input type="checkbox" name="report2" value="report">Yes( Report Now)<br>
                        <input type="checkbox" name="report3" value="report" checked> No<br><br>
                        <button type="submit" class="button"><a href="#">Submit </a></button>
                      </form> 
           
                    </div>
                    </div>
                    </div>
        
      </body>
      
  </html>

  
     