<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/property.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
</head>
</header>
<body>
    <div class="topnav" id="myTopnav">
        <img class="logo" src="../images/newlog.PNG" width="100px" height="80px">
        <h1 class="lite">PropertyPro lite</h1>
        <div class="login-container">
            <div class="new-style">
                <a href="../index.html" target="_blank">logout</a>
                <a href="../Templates/view-all-property.html" target="_blank">view all properties</a>
                <a href="../Templates/post.html" target="_blank">Post property(free)</a>
              </div>
                <input type="text" placeholder="Search..">
                
              </div>
    </div>
              <iframe class="frame" src="http://maps.google.com/maps?q=0.2811685,32.58318449&z=15&output=embed"></iframe>
                  
              <div class= "houses">
            
                  <div class="house1">
                        <img class="logo" src="../images/estate.PNG" width="425px" height="300px">
                    <div class="navbar">
                        <a class="active" href="#"> Mini-Flat</a> 
                        <a href="#"> 1Bedrooms</a> 
                        <a href="#"> 1Bathrooms</a> <br>
                      <div class="button2">
                        <button class="style-button" onclick="view()"> View Property </button>
                        <button class="style-button" onclick="update()"> Update </button>
                        <button class="style-button"  onclick="report()"> Report fraud </button>
                      </div>          
                      </div>
                      </div>
                      
        
                      
                      
                      <div class="house2">
                        <img class="logo" src="../images/furnished.PNG" width="425px" height="300px">
                        <div class="navbar">
                            <a class="active" href="#"> 3Bedrooms</a> 
                            <a href="#"> 2Bathrooms</a> 
                            <a href="#"> 3 Parking slots</a><br>
                        <div class="button2">
                        <button class="style-button" onclick="view()"> View Property </button>
                        <button class="style-button" onclick="update()"> Update </button>
                        <button class="style-button"  onclick="report()"> Report fraud </button>
                      </div>         
                        </div>
                      </div>
        
        
        
                      <div class="house3">
                        <img class="logo" src="../images/jomays.PNG" width="425px" height="300px">
                        <div class="navbar">
                            <a class="active" href="#"> 3Bedrooms</a> 
                            <a href="#"> 2Bathrooms</a> 
                            <a href="#"> 3 Parking slots</a><br>
                        <div class="button3">
                        <button class="style-button" onclick="view()"> View Property </button>
                        <button class="style-button" onclick="update()"> Update </button>
                        <button class="style-button"  onclick="report()"> Report fraud </button>
                        </div>
                                 
                      </div>
                    </div>
                    
                        <!-- <div class="footer">
                          <p>@PropertyPro Lite 2019</p>
    
                        </div> -->
                    
            
                </div>
                <script src="../Javascript/property.js"></script>                 
</body>
</html>

      
